In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
3/2

1.5

# Modulo or "Mod" Operator

In [6]:
# %

In [8]:
# gives remaider 
7%4

3

In [9]:
50 % 5

0

In [10]:
1554%3

0

In [11]:
16589 % 23

6

In [12]:
23 %2

1

Power

In [13]:
2 ** 3

8

In [14]:
4 ** 4

256

In [15]:
2 + 10 * 10 + 3 -56

49

In [16]:
(2 + 10) * 10 + 3 - 36

87

VARIABLES

In [17]:
a = 5

In [18]:
a

5

In [19]:
a = 10

In [20]:
a

10

In [21]:
a+a

20

In [ ]:
# a = a+a

In [23]:
a

20

In [24]:
type(a)

int

In [25]:
a = 30.1

In [26]:
type(a)

float

In [28]:
my_income = 12000

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [29]:
my_taxes

1200.0

## Strings

In [30]:
'Hello'

'Hello'

In [31]:
"Hello"

'Hello'

In [32]:
"THis is a string"

'THis is a string'

In [33]:
"I'm going on a run"

"I'm going on a run"

In [34]:
'I\'m going on a run'

"I'm going on a run"

In [37]:
print ("Hello")

Hello

In [38]:
"Hello World One"
"Hello World Two"

'Hello World Two'

In [39]:
print ("Hello World One")
print ("Hello World Two")

Hello World One
Hello World Two

In [41]:
print("Hello \nWorld")

Hello
World

In [42]:
print("hello \tWorld")

hello 	World

In [43]:
len("hello")

5

In [45]:
len ("I am ") # include space

5

## Indexing

In [46]:
my_string = "hello World"

In [47]:
my_string

'hello World'

In [48]:
my_string[0]

'h'

In [50]:
my_string[8]

'r'

In [51]:
my_string[9]

'l'

In [52]:
my_string[-2]

'l'

In [53]:
my_string[-1]

'd'

In [54]:
my_string[-3]

'r'

## Slicing

In [55]:
mystring = 'abcdefghijk'

In [56]:
mystring

'abcdefghijk'

In [57]:
mystring[0:10]

'abcdefghij'

In [58]:
mystring[2:]

'cdefghijk'

In [60]:
mystring[:3] #stop index is exclusive

'abc'

In [61]:
mystring[3:6]

'def'

In [64]:
mystring[0::2]

'acegik'

In [65]:
# [start:stop:step]

mystring[0:8:3]

'adg'

In [67]:
mystring[::-1] #reverse

'kjihgfedcba'

## Immutability

In [68]:
name = "Sam"

In [70]:
name[0] = "P" # as strings are immuatble we can't make any change to it

TypeError: 'str' object does not support item assignment

In [71]:
last_letters = name[1:]
last_letters

'am'

In [72]:
"P" + last_letters

'Pam'

In [73]:
x = "hello World"

In [74]:
x + " it is beautiful outside"

'hello World it is beautiful outside'

In [75]:
x = x + " it is beautiful outside"
x

'hello World it is beautiful outside'

In [76]:
letter = "z"

In [77]:
letter * 10

'zzzzzzzzzz'

In [78]:
x.upper()

'HELLO WORLD IT IS BEAUTIFUL OUTSIDE'

In [79]:
x

'hello World it is beautiful outside'

In [80]:
x.capitalize()

'Hello world it is beautiful outside'

In [81]:
x.lower

In [82]:
x.split()

['hello', 'World', 'it', 'is', 'beautiful', 'outside']

In [83]:
x.split("i")

['hello World ', 't ', 's beaut', 'ful outs', 'de']

In [84]:
x.split()

['hello', 'World', 'it', 'is', 'beautiful', 'outside']

In [88]:
x.split(" ",2) #string.split(seperator,maxsplit)

['hello', 'World', 'it is beautiful outside']

## Print Formatting

### .format() method

In [89]:
print("THis is a string {}".format("INSERTED"))

THis is a string INSERTED

In [91]:
print("THe {} {} {} ".format('fox','brown','quick'))

THe fox brown quick

In [92]:
print("THe {2} {1} {0} ".format('fox','brown','quick'))

THe quick brown fox

In [93]:
print("THe {0} {0} {0} ".format('fox','brown','quick'))

THe fox fox fox

In [94]:
print("THe {q} {b} {f} ".format(f = 'fox', b = 'brown', q = 'quick'))

THe quick brown fox

In [98]:
### Float formatting
# Float formatting folllows "{value:width.precision f}"


result = 100/777

In [99]:
result

0.1287001287001287

In [100]:
print("THe result was {}".format(result))

THe result was 0.1287001287001287

In [101]:

print("THe result was {r}".format(r = result))

THe result was 0.1287001287001287

In [103]:
# Float formatting folllows "{value:width.precision f}"
print("THe result was {r:1.3f}".format(r = result))

THe result was 0.129

In [104]:
print("THe result was {r:10.3f}".format(r = result))

THe result was      0.129

In [105]:
print("THe result was {r:1.5f}".format(r = result))

THe result was 0.12870

In [106]:
print("THe result was {r:1.2f}".format(r = result))

THe result was 0.13

### f string method

In [107]:
name = "Manna"

print(f"My Name is {name}")

My Name is Manna

In [108]:
status = "I am rich."

In [109]:
print(f"{status}")

I am rich.

In [110]:
print(f"My name is {name}. {status}")

My name is Manna. I am rich.

## LISTS

In [111]:
myList = [1,23,45,89]

In [112]:
myList

[1, 23, 45, 89]

In [113]:
my_list = [10,"dev","Mana","money magnet","rich","attracts abundance easily into reality"]

In [114]:
len(my_list)

6

In [115]:
my_list = [10,"dev","Mana","money magnet","rich","attracts abundance easily into reality".split()]

In [116]:
len(my_list)

6

In [117]:
"attracts abundance easily into reality".split()

['attracts', 'abundance', 'easily', 'into', 'reality']

In [121]:
my_list = ["10K euro","dev","Mana","money magnet","rich","attracts abundance easily into reality"]

In [122]:
my_list

['10K euro',
 'dev',
 'Mana',
 'money magnet',
 'rich',
 'attracts abundance easily into reality']

In [123]:
my_list = ['one','two','three']

In [124]:
my_list

['one', 'two', 'three']

In [125]:
my_list[-1]

'three'

In [126]:
my_list[::]

['one', 'two', 'three']

In [127]:
my_list[::2]

['one', 'three']

In [128]:
another_list = [4,5]

In [129]:
my_list + another_list

['one', 'two', 'three', 4, 5]

In [130]:
my_list

['one', 'two', 'three']

In [131]:
another_list

[4, 5]

In [132]:
new_list = my_list + another_list

In [134]:
new_list

['one', 'two', 'three', 4, 5]

In [135]:
new_list[-2] = "four"
new_list

['one', 'two', 'three', 'four', 5]

In [137]:
new_list.append(6)

In [138]:
new_list

['one', 'two', 'three', 'four', 5, 6]

In [146]:
new_list.append("seven")

In [147]:
new_list

['one', 'two', 'three', 'four', 5, 6, 'seven']

In [148]:
pop_item = new_list.pop()

In [149]:
pop_item

'seven'

In [150]:
new_list.pop(0)

'one'

In [151]:
new_list

['two', 'three', 'four', 5, 6]

In [152]:
num_list = [1,2,3,8,9,10,15,7]
new_list = ['a','b','e','d']

In [153]:
num_list.sort()

In [154]:
num_list

[1, 2, 3, 7, 8, 9, 10, 15]

In [156]:
new_list.sort()

In [157]:
new_list

['a', 'b', 'd', 'e']

In [158]:
num_list.reverse()

In [159]:
num_list

[15, 10, 9, 8, 7, 3, 2, 1]

## Dictionaries

In [160]:
my_dict = {'key1':'value1','key2':'value2'}

In [161]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [162]:
my_dict['key1']

'value1'

In [163]:
prices_lookup = {'apple':2.29,'oranges':1.99,'milk':5.80}

In [164]:
prices_lookup['apple']

2.29

In [165]:
d = {'k1': 123, 'k2':[0,1,2], 'k3': {'inside_key':100}}

In [166]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'inside_key': 100}}

In [167]:
d['k3']

{'inside_key': 100}

In [168]:
d['k3']['inside_key']

100

In [169]:
d['k2']

[0, 1, 2]

In [170]:
d['k2'][-1]

2

In [171]:
d = {"k1" : ['a','b','c'], "k2": 'bc'}

In [172]:
d["k1"]

['a', 'b', 'c']

In [173]:
d["k1"][-1].upper()

'C'

In [174]:
d= {"k1" : 100, "k2": 'bc'}
d

{'k1': 100, 'k2': 'bc'}

In [175]:
d["k3"] = 300

In [176]:
d

{'k1': 100, 'k2': 'bc', 'k3': 300}

In [177]:
d["k1"] = "New Value"

In [178]:
d

{'k1': 'New Value', 'k2': 'bc', 'k3': 300}

In [179]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [180]:
d.values()

dict_values(['New Value', 'bc', 300])

In [181]:
d.items()

dict_items([('k1', 'New Value'), ('k2', 'bc'), ('k3', 300)])

## Tuples

In [182]:
t = (1,2,3)

In [183]:
mylist = [1,2,3]

In [184]:
type(t)

tuple

In [185]:
t

(1, 2, 3)

In [186]:
mylist

[1, 2, 3]

In [187]:
type(mylist)

list

In [188]:
len(t)

3

In [189]:
t = ('one',2,2.348)

In [190]:
t

('one', 2, 2.348)

In [191]:
t[0]

'one'

In [192]:
t[-1]

2.348

In [193]:
type(t[-1])

float

In [194]:
t= ('a','a','b')

In [195]:
t.count('a')

2

In [197]:
t.index('a') #gives first occurence

0

In [198]:
t.index('b')

2

In [199]:
mylist

[1, 2, 3]

In [200]:
mylist[0] = "New Element"

In [201]:
mylist

['New Element', 2, 3]

In [202]:
t

('a', 'a', 'b')

In [204]:
#t[0] = "new"

## Sets

In [205]:
myset = set()

In [206]:
myset

set()

In [207]:
type(myset)

set

In [208]:
len(myset)

0

In [209]:
myset.add(1)

In [210]:
myset

{1}

In [211]:
myset.add(2)

In [212]:
myset

{1, 2}

In [213]:
myset.add(2)

In [214]:
myset

{1, 2}

In [215]:
mylist = [1,1,1,1,2,3,5,4,1,2,2,3]

In [216]:
mylist

[1, 1, 1, 1, 2, 3, 5, 4, 1, 2, 2, 3]

In [217]:
set(mylist)

{1, 2, 3, 4, 5}

In [218]:
myset.remove(1)

In [219]:
myset

{2}

## Boolean

In [221]:
False

False

In [222]:
True

True

In [223]:
type(True)

bool

In [224]:
1 > 2

False

In [225]:
1 == 1

True

In [226]:
25 == "25"

False

In [227]:
b = None

In [228]:
b

In [229]:
type(b)

NoneType

## Comparison operators

In [230]:
2 < 3

True

In [231]:
1 < 2 > 3

False

In [232]:
'A' == 'a'

False

In [233]:
'a' == 'a'

True

In [234]:
'a' == 'a' and 11 == 11

True

In [236]:
11 == 10 or 'b' == 'b'

True

## Statements

IF ELse

In [238]:
hungary = True

if hungary:
    print("Feed me")
else:
    print("I am not hungary")

Feed me

In [239]:
loc = "Game"

if loc == "Auto Shop":
    print("Cars are cool")
elif loc == "Bank":
    print("Money is cool")
elif loc == "Store":
    print("Welcome to the store")
else:
    print("I do not know much.")

I do not know much.

In [241]:
name = "Sam"

if name == "Frankie":
    print("hello Frankie")
elif name == "Sam":
    print("Hello Sam")
else:
    print("What is your name?")

Hello Sam

FOR loops

In [242]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [243]:
for i in my_list:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [244]:
for i in my_list:
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [246]:
for i in my_list:
    #check even
    if i%2 == 0:
        print(i)
    else:
        print(f'{i} is not even')

1 is not even
2
3 is not even
4
5 is not even
6
7 is not even
8
9 is not even
10

In [248]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    
print(list_sum)

55

In [249]:
mystring = "Hello World"

for i in mystring:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [250]:
for i in "Hello World":
    print(i)

H
e
l
l
o

W
o
r
l
d

In [251]:
t = (1,2,3,4)
type(t)

tuple

In [252]:
for i in t:
    print(i)

1
2
3
4

In [253]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [254]:
len(mylist)

4

In [255]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [257]:
for a,b in mylist:
    print(a)

1
3
5
7

In [258]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [260]:
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [261]:
for a,b,c in mylist:
    print(b)

2
5
8

In [263]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(key)

k1
k2
k3

In [264]:
for key,value in d.items():
    print(value)

1
2
3

In [265]:
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [266]:
for i in d.items():
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

WHILE LOOPS

In [269]:
x = 0

while x <=5 :
    print(f'Current value of x is {x}')
    x = x+1
else:
    print("Value of x is not less than 5")

Current value of x is 0
Current value of x is 1
Current value of x is 2
Current value of x is 3
Current value of x is 4
Current value of x is 5
Value of x is not less than 5

In [270]:
# break, continue, pass

x= [1,2,3]
for item in x:
    # comment

SyntaxError: unexpected EOF while parsing (<ipython-input-270-46739a904c87>, line 5)

In [271]:
x= [1,2,3]
for item in x:
    # comment
    pass

print("end of the script")

end of the script

In [273]:
mystring = "Sammy"

for i in mystring:
    if i == 'a':
        continue
    print(i)

S
m
m
y

In [274]:
mystring = "Sammy"

for i in mystring:
    if i == 'a':
        break
    print(i)

S

In [275]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [278]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [279]:
list(range(0,11,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [281]:
word = "abcde"

for i in enumerate(word):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [283]:
word = "abcde"

for i,j in enumerate(word):
    print(i)
    print(j)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [284]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

for i in zip(mylist1,mylist2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [285]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [286]:
'c' in [1,2,3,4]

False

In [287]:
'mykey' in {'mykey' : 1}

True

In [288]:
d= {'mykey' :345}

345 in d.values()

True

In [290]:
mylist = [10,20,30,40,50,60]

print(min(mylist))

10

In [291]:
max(mylist)

60

In [292]:
from random import shuffle

mylist = [1,2,3,4,5,6,7,8,9]

In [293]:
shuffle(mylist)

In [294]:
mylist

[7, 3, 5, 9, 2, 4, 8, 1, 6]

In [295]:
type(shuffle(mylist))

NoneType

In [296]:
from random import randint

randint(10,200)

27

In [297]:
randint(25,200)

59

In [298]:
mynum = randint(0,10)

In [299]:
mynum

6

In [301]:
input('Enter a number here :')

Enter a number here :50

'50'

In [302]:
result = input("Whats is your name?")

Whats is your name?Sachin

In [303]:
# input always return a string value

result = input("Enter a number: ")

Enter a number: 100

In [304]:
type(result)

str

List Comprehensions

In [305]:
mystring = "hello"

mylist = []

for i in mystring:
    mylist.append(i)

In [306]:
mylist

['h', 'e', 'l', 'l', 'o']

In [307]:
mystring = "hello"

mylist = [i for i in mystring]

In [308]:
mylist

['h', 'e', 'l', 'l', 'o']

In [309]:
mylist = [x for x in 'word']

In [310]:
mylist

['w', 'o', 'r', 'd']

In [311]:
mylist = [x for x in range(0,11)]

In [312]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [333]:
mylist = [x**2 for x in range(0,11)]

In [334]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [335]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [336]:
mylist

[0, 2, 4, 6, 8, 10]

In [337]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]
mylist

[0, 4, 16, 36, 64, 100]

In [338]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*i + 32) for i in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [339]:
fahrenheit = []

for i in celcius:
    fahrenheit.append((9/5)*i + 32)

In [340]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [342]:
# if else with list comprehensions

results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

In [343]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [345]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [346]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [347]:
#nested for loop with list comprehensions

mylist = [x*y for x in [2,4,6] for y in [1,10,100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]